{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>List of Movies</h2>
        <hr />
        <p class="card-text">
          <form method="GET">
            <div class="row">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">
                    Search</div>
                  <input type="text" class="form-control"
                    name="search" value="{{ template_data.search_term|default:'' }}">
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white"
                  type="submit">Search</button>
              </div>
            </div>
          </form>
        </p>
      </div>
    </div>
    <div class="row">
      {% if template_data.movies %}
        {% for movie in template_data.movies %}
        <div class="col-md-4 col-lg-3 mb-2">
          <div class="p-2 card align-items-center pt-4">
            <img src="{{ movie.image.url }}"
              class="card-img-top rounded img-card-200">
            <div class="card-body text-center">
              <a href="{% url 'movies.show' id=movie.id %}"
                class="btn bg-dark text-white">
                {{ movie.name }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        {% if template_data.search_term %}
        <div class="col-12 text-center">
          <div class="alert alert-info" role="alert">
            <h4>No movies found</h4>
            <p>Sorry, we couldn't find any movies matching "<strong>{{ template_data.search_term }}</strong>". Please try a different search term.</p>
            <a href="{% url 'movies.index' %}" class="btn btn-primary">View All Movies</a>
          </div>
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}